.grid {
    display: grid; 
    gap: 2rem;
}

@media screen and (min-width: 375px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}