*, *:before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #D5E1EF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem;
    margin: 0;
}

.card {
    max-width: 300px;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 5px 50px #adb9d1;
    height: auto;
}

.card-image img{
    width: 100%;
    border-radius: .5rem;
}
.card-content {
    text-align: center;
    padding: 1rem 0;
}
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #29344D;
    margin-bottom: .5rem;
}
.card-para {
    color: #A5AAB4;
}