@for $i from 100 through 50 {
  .delay-#{$i} { animation-delay: 1ms * $i }
}

.fadeIn {
  animation: linear fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}